body {background-color: #003d6e;
    color:#ffffffdf;
    font-family:monospace, system-ui, Courier, 'Courier New', sans-serif;
}
h1 {
   font-size: 2rem;
   font-weight: 600; 
}

.formContainer {
  width: 500px;
  clear: both;
  font-size: 1.25rem;
}

.formGroup {
  box-sizing: border-box;  
  padding: 10px;
}

.formContainer .textarea {
  width:100%;  
}


.formContainer input {
  width: 100%;
  box-sizing: border-box;
  clear: both;
 }

.formContainer label {
  width: 50%;
  clear: both;
  text-align: left;
}